<div>
    <h3 mat-dialog-title>Confirm Changes</h3>
    <p align="center">
        <mat-dialog-content>
            This action is irreversible. All the data will be wiped out.
        </mat-dialog-content>
    </p>
    <p align="center">
        <mat-dialog-actions>
            <button mat-button color="warn" (click)="delete()">
                <strong>DELETE</strong>
            </button>
            <button mat-button (click)="cancel()">
                <strong>Cancel</strong>
            </button>
        </mat-dialog-actions>
    </p>
</div>
